@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}
/* .star-shape {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
} */
.star-shape {
  clip-path: polygon(
    47% 0%,
    /* (94.1959, 6.43755) mapped to 47% width and 0% height */ 61% 29%,
    /* (131.219, 57.5302) mapped to 61% width and 29% height */ 98% 35%,
    /* (192.56, 69.3248) mapped to 98% width and 35% height */ 68% 57%,
    /* (136.176, 61.1318) mapped to 68% width and 57% height */ 79% 80%,
    /* (153.516, 126.152) mapped to 79% width and 80% height */ 50% 70%,
    /* (103.163, 162.735) mapped to 50% width and 70% height */ 21% 80%,
    /* (46.6046, 189.249) mapped to 21% width and 80% height */ 32% 57%,
    /* (44.7901, 120.325) mapped to 32% width and 57% height */ 2% 35%,
    /* (3.9902, 80.5546) mapped to 2% width and 35% height */ 39% 29%
      /* (64.0231, 61.1318) mapped to 39% width and 29% height */
  );
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 10px;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 1px; /* Firefox */
}
